In [1]:
import pandas as pd
import numpy as np
import os

- 파일명이 xx로 끝나는 파일들을 불러올 때는 if문에 file.endswith('xx')

- 파일명이 xx로 시작하는 파일들을 불러올 때는 if문에 file.startswith('xx')

- 파일명에 xx가 포함된 파일들을 불러올때는 if문에 "xx" in file

- 파일명에 xx가 포함되지 않은 파일들을 불러올때는 if문에 "xx" not in file

In [2]:
file_list = os.listdir('../data/')
file_list_sp500 = [file for file in file_list if file.endswith('.csv')]
file_list_sp500.sort()
file_list_sp500

['sp500_1990.csv',
 'sp500_1991.csv',
 'sp500_1992.csv',
 'sp500_1993.csv',
 'sp500_1994.csv',
 'sp500_1995.csv',
 'sp500_1996.csv',
 'sp500_1997.csv',
 'sp500_1998.csv',
 'sp500_1999.csv',
 'sp500_2000.csv',
 'sp500_2001.csv',
 'sp500_2002.csv',
 'sp500_2003.csv',
 'sp500_2004.csv',
 'sp500_2005.csv',
 'sp500_2006.csv',
 'sp500_2007.csv',
 'sp500_2008.csv',
 'sp500_2009.csv',
 'sp500_2010.csv',
 'sp500_2011.csv',
 'sp500_2012.csv',
 'sp500_2013.csv',
 'sp500_2014.csv',
 'sp500_2015.csv',
 'sp500_2016.csv',
 'sp500_2017.csv',
 'sp500_2018.csv',
 'sp500_2019.csv']

In [3]:
len(file_list_sp500)

30

1. Date 기준으로 오름차순 정렬
2. concat
3. sp500.csv 저장

In [ ]:
### (참고)json 파일들을 dataframe으로 불러오기

import json

dict_list = []
for i in file_list_sp500:
    for line in open(('../data/' + i), 'r'):
        dict_list.append(json.loads(line))
df = pd.DataFrame(dict_list)

In [4]:
# csv 파일들을 dataframe으로 불러와서 concat

df = pd.DataFrame()
for i in file_list_sp500:
    data = pd.read_csv('../data/' + i)
    data.sort_values(by = ['Date'], ascending = True, inplace = True)
    df = pd.concat([df, data])
df = df.reset_index(drop = True)

In [5]:
df.iloc[250:260]

           Date    Open    High     Low   Close
250  12/27/1990  328.29  331.04  328.23  328.29
251  12/28/1990  328.72  328.72  327.24  328.72
252  12/31/1990  330.22  330.23   327.5  330.22
253  01/02/1991  326.45  330.75  326.45  326.45
254  01/03/1991  321.91  326.53   321.9  321.91
255  01/04/1991     321  322.35  318.87     321
256  01/07/1991  315.44     321  315.44  315.44
257  01/08/1991   314.9  316.97  313.79   314.9
258  01/09/1991  311.49  320.73  310.93  311.49
259  01/10/1991  314.53  314.77  311.49  314.53

In [6]:
df.isnull().sum()

Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64

In [7]:
df.to_csv('sp500.csv', encoding = 'utf-8', index = False)

In [8]:
df

            Date      Open      High       Low     Close
0     01/02/1990    359.69    359.69    351.98    359.69
1     01/03/1990    358.76    360.59    357.89    358.76
2     01/04/1990    355.67    358.76    352.89    355.67
3     01/05/1990     352.2    355.67    351.35     352.2
4     01/08/1990    353.79    354.24    350.54    353.79
...          ...       ...       ...       ...       ...
7554  12/24/2019  3,225.45  3,226.43  3,220.51  3,223.38
7555  12/26/2019  3,227.20  3,240.08  3,227.20  3,239.91
7556  12/27/2019  3,247.23  3,247.93  3,234.37  3,240.02
7557  12/30/2019  3,240.09  3,240.92  3,216.57  3,221.29
7558  12/31/2019  3,215.18  3,231.72  3,212.03  3,230.78

[7559 rows x 5 columns]